@{
    ViewBag.Title = "UpdateApproval";
}
<!-- view to display report update -->
<div class="pagination">
    <ul>
        <li>@Html.ActionLink("Supervisors", "Index")</li>
        <li>&raquo; &nbsp;@Html.ActionLink("Reports", "ViewReports")</li>
        <li>&raquo; &nbsp;Update approval</li>
    </ul>
    <div class="clear"></div>
</div>

<hgroup class="title">
    <h2>Approve/Deny Report</h2>
</hgroup>

<p>The report has successfully been updated.</p>
